.sidebar {
  width: 250px;
  height: 100vh;
  background: #07111f;
  border-right: 1px solid rgba(255, 255, 255, 0.05);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 20px 16px;
  color: white;

  position: fixed;
  left: 0;
  top: 0;

  overflow-y: auto;
  /* ✅ allow vertical scroll */
  overflow-x: hidden;
}

/* LOGO */

.logo {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  margin-bottom: 20px;
}

.logo h2 {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
}

.logo p {
  color: #f59e0b;
  margin-top: 5px;
  font-size: 13px;
}

/* GROUP */

.group {
  margin-bottom: 25px;
}

.group-title {
  color: #64748b;
  font-size: 12px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

/* NAV ITEM */
.menu {
  flex: 1;
  overflow-y: auto;
  padding-right: 6px;
}

.menu::-webkit-scrollbar {
  width: 6px;
}

.menu::-webkit-scrollbar-track {
  background: transparent;
}

.menu::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
}

.menu::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}

.nav-item {
  display: flex;
  flex: 1;
  overflow-y: auto;
  align-items: center;
  gap: 12px;
  padding: 12px;
  margin-bottom: 8px;
  border-radius: 12px;
  color: #cbd5e1;
  text-decoration: none;
  transition: 0.3s;
}

.nav-item:hover {
  background: rgba(59, 130, 246, 0.15);
  color: white;
  transform: translateX(4px);
}

.nav-item.active {
  background: rgba(59, 130, 246, 0.25);
  color: white;
}

.nav-icon {
  width: 20px;
  text-align: center;
}

/* USER */

.user {
  border-top: 1px solid rgba(255, 255, 255, 0.06);
  padding-top: 18px;
}

.info {
  margin-bottom: 15px;
}

.info strong {
  display: block;
}

.info small {
  color: #94a3b8;
}

/* BUTTON */

.user button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 12px;
  background: #ef4444;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.user button:hover {
  background: #dc2626;
}