<div class="sidebar">

  <!-- LOGO -->
  <div>
    <div class="logo">
      <h3>Hotel Management</h3>
      <p>Grand Meridian</p>
    </div>

    <!-- NAV -->
    <div class="menu">

      <div class="nav">

        <ng-container *ngFor="let section of navSections">
          <div class="group" *ngIf="canViewSection(section)">

            <p class="group-title">
              {{ section.label }}
            </p>

            <a
              *ngFor="let item of getVisibleItems(section)"
              [routerLink]="['/', item.id]"
              routerLinkActive="active"
              class="nav-item"
            >
            <span class="nav-icon">
              {{ item.icon }}
            </span>

            <span>
              {{ item.label }}
            </span>
          </a>

          </div>
        </ng-container>
      </div>

    </div>
  </div>

  <!-- USER -->
  <div class="user">

    <div class="info">
      <strong>
        {{ currentUsername }}
      </strong>

      <small>
        {{ roleName }}
      </small>
    </div>

    <button (click)="logout()">
      Sign Out
    </button>

  </div>

</div>
