<div class="sidebar">

  <!-- LOGO -->
  <div>
    <div class="logo">
      <h3>Hotel Management</h3>
      <p>Grand Meridian</p>
    </div>

    <!-- NAV -->
    <div class="menu">

      <div class="nav">

        <div *ngFor="let group of navItems" class="group">

          <p class="group-title">
            {{ group.label }}
          </p>

          <a *ngFor="let item of group.items" [routerLink]="['/', item.id]" routerLinkActive="active" class="nav-item">
            <span class="nav-icon">
              {{ item.icon }}
            </span>

            <span>
              {{ item.label }}
            </span>
          </a>

        </div>
      </div>

    </div>
  </div>

  <!-- USER -->
  <div class="user">

    <div class="info">
      <strong>
        {{ currentUser.username }}
      </strong>

      <small>
        {{ roleName }}
      </small>
    </div>

    <button (click)="logout()">
      Sign Out
    </button>

  </div>

</div>